<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="react-mount"><%- reactContent %></div>
    <script async src='/javascripts/client-bundle.js'></script>
  </body>
</html>
